.header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    border-bottom: 2px groove gray;
    justify-content: space-between
}
.header__logo .header__logo__j {
    display: flex;
    text-decoration: none;
}
.header__logo .header__logo__j img {
    width: 85px;
    object-fit: cover;
    object-position: 10px 3px;
}
.header__logo .p {
    font-size: 40px;
    color: black;
}
.search {
    border-radius: 4px;
    border: 1px solid;
    padding: 5px;
}
.searchlogo {
    display: none;
}
input#search {
    font-size: 18px;
    width: 247px;
    border: none;
}
.menu {
    display: flex;
    align-items: center;
}
.menu .nho {
    display: none;
}
.menu__list {
    display: flex;
}
li.menu__item {
    margin: 20px 34px;
}
.menu__link {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.menu__link:hover {
    color: tomato;
}
.menu__link i:hover {
    color: tomato;
}
input[type="text"] {
    width: 200px;
    height: 30px;
    margin-left: 25px;
}
.menu .menu__list .menu__item img {
    width: 18px;
    object-position: -3px 4px;
}
.ava-little {
    position: relative;
}
.cap3 {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    object-fit: cover;
}
.xanh {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: green;
    position: absolute;
    display: block;
    top: 6px;
    right: -2px;
}

@media screen and (max-width: 1199px) {
    .menu {
        width: 156px;
        position: relative;
        justify-content: space-between;
    }
    .menu .nho {
        display: block;
        height: 30px;
    }
    .menu__list  {
        display: none;
        position: absolute;
        width: 210px;
        top: 100%;
        right: 80%;
        background-color: tan;
        border-radius: 10px;
    }
    .menu__list .menu__item:hover {
        border-radius: 5px;
        background-color: mediumaquamarine;
        padding: 10px;
    }
    .menu:hover .menu__list   {
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .header__logo .header__logo__j img {
        width: 85px;
        object-fit: cover;
        object-position: 16px -3px;
    }
    .header__logo .p {
        font-size: 27px;
        color: black;
    }
    .search {
        border-radius: 4px;
        border: 1px solid;
        padding: 2px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-bottom: 40px;
    }
    .search-full {
        position: relative;
    }
    .search-full .searchlogo {
        display: block;
        height: 24px;
    }
    .search {
        display: none;
        position: absolute;
        top: 130%;
        right: 10%;
        border-radius: 5px;
    }
    .search-full:hover .search {
        display: block;
    }
    .menu {
        width: 105px;
        position: relative;
        justify-content: space-between;
    }
    .menu .nho {
        display: block;
        height: 24px;
    }
    .main {
        max-width: 1170px;
        margin: 0 auto;
        margin-top: 45px;
    }
}

@media screen and (max-width: 480px) {
    .header__logo .header__logo__j {
        display: unset;
        text-decoration: none;
    }
    .header__logo .p {
        font-size: 17px;
        color: black;
    }
    .header__logo .header__logo__j img {
        width: 85px;
        object-fit: cover;
        object-position: -2px -2px;
    }
}

.main {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 70px;
}
.box-left {
    max-width: 350px;
    float: left;
}
img.my-ava {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
}
.full-infor-left {
    margin-top: 40px;
    max-width: 350px;
}
.infor-left {
    margin-top: 50px;
}
.infor-left h2 {
    font-size: 13px;
    margin-bottom: 50px;
    color: gray;
}
.infor-left .work {
    margin-top: 20px;
}
.infor-left .work h3 {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
}
.infor-left .work div {
    background-color: aquamarine;
    color: blue;
    max-width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    float: right;
    padding: 5px;
}
.infor-left .work p {
    font-size: 18px;
    line-height: 40px;
    color: gray;
}
.infor-left .skills {
    margin-bottom: 50px;
    margin-top: 10px;
    line-height: 40px; 
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.box-right {
    margin-left: 425px;
}
.box-right .infor1 .infor1-simple {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-right .infor1 .infor1-simple .name {
    font-size: 31px;
    font-weight: bold;
    padding-right: 25px;
}
.div-lit {
    display: flex;
    justify-content: space-between;
}
.div-little {
    display: flex;
    align-items: center;
    color: grey;
}
.bookmark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
}
svg.svg-inline--fa.fa-bookmark.fa-w-12 {
    padding-right: 5px;
}
i.fas.fa-map-marker-alt {
    padding-left: 30px;
}
.address {
    padding-left: 5px;
    padding-top: 5px;
}
.job {
    line-height: 50px;
    font-size: 20px;
    color: turquoise;
}
.rank {
    margin-top: 30px;
    margin-bottom: 20px;
}
.rank h5{
    font-size: 13px;
    color: grey;
}
.start p {
    line-height: 50px;
    font-size: 50px;
    display: inline-block;
}
.start {
    width: 300px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.start .start-in {
    display: inline-block;
    float: right;
}
.start .fas {
    font-size: 35px;
    color: teal;
}
.start .start-in .cui {
    color: gainsboro;
}

@media screen and (max-width: 1199px) {
    .main {
        padding: 0 25px;
    }
    .box-right .infor1 .infor1-simple {
        display: flex;
        align-items: unset;
        justify-content: space-between;
        padding-right: 110px;
    }
    .bookmark {
        display: flex;
        align-items: unset;
        justify-content: space-between;
        color: grey;
        padding-top: 10px;
    }
    .div-lit {
        flex-direction: column;
    }
    .div-little {
        line-height: 25px;
    }
}

@media screen and (max-width:992px) {
    .box-right {
        margin-left: 385px;
    }
    .box-right .infor1 .infor1-simple .name {
        font-size: 25px;
        font-weight: bold;
        padding-right: 25px;
    }
    .box-right .infor1 .infor1-simple {
        display: flex;
        align-items: unset;
        justify-content: space-between;
        padding-right: 0px;
    }
    .bookmark {
        display: flex;
        align-items: unset;
        justify-content: space-between;
        color: grey;
        padding-top: 5px;
    }
    .address {
        padding-left: 5px;
        padding-top: 5px;
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .box-left {
        max-width: 100%;
        float: unset;
    }
    img.my-ava {
        height: 350px;
        object-fit: cover;
        border-radius: 6px;
        margin: 0 auto;
        display: block;
    }
    .box-right {
        margin-left: 0px;
    }
}

@media screen and (max-width: 480px) {
img.my-ava {
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
    .box-right .infor1 .infor1-simple .name {
        font-size: 20px;
        font-weight: bold;
        padding-right: 25px;
    }
    .address {
        padding-left: 5px;
        padding-top: 5px;
        font-size: 11px;
    }
    .infor-left h2 {
        font-size: 11px;
        margin-bottom: 50px;
        color: gray;
    }
    .infor-left .work h3 {
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
    }
    .infor-left .work p {
        font-size: 15px;
        line-height: 40px;
        color: gray;
    }
}

.infor2 {
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infor2 .infor2-1 {
    display: flex;
    font-size: 20px;
    padding: 12px;
    border-radius: 5px;
}
.infor2 .infor2-1 p {
    margin-left: 8px;
    font-weight: bold;
}
svg.svg-inline--fa.fa-comment-alt.fa-w-16 {
    font-size: 17px;
}
.infor2 .infor2-2 p {
    margin-left: 8px;
}
.infor2 .infor2-2 {
    display: flex;
    font-size: 20px;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 5px;
}
.infor2 .ass:hover {
    cursor: pointer;
    background-color: lightcyan;
    color: turquoise;
}
.infor2 .infor2-little {
    color: gray;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    .infor2 {
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 20px;
    }
    svg.svg-inline--fa.fa-comment-alt.fa-w-16 {
        margin-top: 4px;
    }
}

@media screen and (max-width: 768px) {
    .infor2 {
        height: 100px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: unset;
    }
}

@media screen and (max-width: 480px) {
    svg.svg-inline--fa.fa-comment-alt.fa-w-16 {
        margin-top: 3px;
    }
    .infor2 {
        height: 100px;
        width: 500px;
        display: unset;
        align-items: center;
        justify-content: unset;
        padding-bottom: 40px;
    }
    .infor2 .infor2-1 {
        display: flex;
        font-size: 20px;
        padding: 0px;
        border-radius: 5px;
        padding-top: 12px;
    }
    .infor2 .infor2-2 p {
        margin-left: 4px;
    }
    .infor2 .infor2-2 {
        padding: 0;
        display: flex;
        font-size: 20px;
        padding-top: 12px;
        border-radius: 5px;
        font-weight: bold;
        margin-left: 0px;
    }
    .infor2 .infor2-little {
        padding: 0;
        color: gray;
        font-size: 20px;
        font-weight: bold;
        padding-top: 12px;
        border-radius: 5px;
    }
}
/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 2px groove darkgray;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 18px 16px;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}


.thin {
    padding-top: 48px;
}
.ti {
    color: gray;
    padding-bottom: 30px;
}
.ngo {
    font-size: 23px;
}
.suu {
    font-weight: bold;
    display: flex;
    padding: 15px 0;
}
.dan {
    display: inline-block;
    width: 115px;
}
.mao {
    color: darkturquoise;
}
@media screen and (max-width: 992px) {
    .dan {
        display: inline-block;
        width: 80px;
    }
    .suu .ti {
        padding-left: 19px;
    }
}
@media screen and (max-width: 480px) {
    .tab {
        padding-top: 50px;
        overflow: hidden;
        border-bottom: 2px groove darkgray;
    }
}